<h3>Please see your applications' statuses below</h3>

<ol>
  <% @applications.each do |application| %>
    <% if application.user == current_user %>
      <li>
        <%= link_to "Application", application %>
        <%= application.status.capitalize %>
      </li>
    <% end %>
  <% end %>
</ol>

