<h3>Submitted Applications</h3>

<ul>
  <% flash.each do |name, msg| -%>
    <li><%= content_tag :div, msg, class: name %></li>
  <% end -%>
</ul>

<% @applications.each do |application| %>
  <p>
    <%= link_to application.email, [:admin, application] %>
    <%= application.status.capitalize %>
    <% if application.status == "approved" %>
    <% end %>
  </p>
<% end %>

