 <div class="container">
    <div class="row">
        <div class="col col-sm-12">
            <div class="panel">
            	<p> The information presented here is for informational purposes only and is subject to change. Please check back for updates. All rates are subject to approval by the Curators of Claflin University. </p>
			</div>
        </div> 
    </div><!-- .row -->
</div><!-- .container -->