<% if current_user.admin? %>
  <p>Welcome Admin</p>
  <p><%= link_to "View all users", admin_users_path %> </p>
  <p><%= link_to "View all halls", admin_halls_path %></p>
  <p><%= link_to "Hall Assignments", admin_hall_assignments_path %></p>
<% else %>
  <p>Welcome to your page, please make sure to complete your housing application</p>
<% end %>

