<ul>
  <% if @user %>
    <li><%= @user.errors.full_messages.to_s.downcase %></li>
  <% end %>
</ul>
<% @users.each do |user| %>
  <% if user != current_user %>
    <p><%= user.email %> 
      <%= toggle_resident_manager_link(user) %>
      <%= toggle_resident_assistant_link(user) %>
    <% end %>
  <% end %>
