<!-- Footer start -->
<div class="container">
	<div class="row">
      		<div class="col col-sm-12">
              <div class="panel">
                  © 2015 Ifeanyi Kalu, All Rights Reserved.
              </div>
      	    </div> 
  	</div><!-- .row -->
</div><!-- .container -->