<header class="masthead">
  <div class="container">
    <div class="row">
      <div class="col col-sm-6">
        <h1><a href="#" title="scroll down for your viewing pleasure">Department of Residential Life</a>
          <p class="lead">Claflin University</p></h1>
      </div>
      <div class="col col-sm-6">
        <div class="well pull-right">
          <%= image_tag ("cu.jpg") %>        
        </div>
      </div>
    </div>
  </div>
  
  <div class="container">
  <div class="row">
      <div class="col col-sm-12">
        
        <div class="panel">
        <div class="panel-body">
          The residence halls are closed for the break. Stay well and blessed.  <span class="glyphicon glyphicon-heart-empty"></span>
        </div>
        </div>
        
      </div>
    </div>
  </div>
</header>